section{
	height: 600px;
	background-color: #3A3B3C;
	border: solid white 1px;
	border-radius: 10px;
}

.greetings{
	width: 40%;
	height: 20%;
	position: fixed;
	background-color: #34495e;
	border-radius: 10px;
	object-fit: cover;
	top: 40%;
	bottom: 50%;
	left: 30%;
}

.about{
	background-color: #212121;
	height: 100vh;
}

footer{
	height: 200px;
	background-color: grey;
	border-radius: 10px;
}
  
  .content {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 160px;
	overflow: hidden;
	font-family: "Lato", sans-serif;
	font-size: 35px;
	line-height: 40px;
	color: #ecf0f1;
  }
  .content__container {
	font-weight: 600;
	overflow: hidden;
	height: 40px;
	padding: 0 40px;
  }
  .content__container:before {
	content: "[";
	left: 0;
  }
  .content__container:after {
	content: "]";
	position: absolute;
	right: 0;
  }
  .content__container:after, .content__container:before {
	  position: absolute;
	  top: 0;
	  color: #16a089;
	  font-size: 42px;
	  line-height: 40px;
	  -webkit-animation-name: opacity;
	  -webkit-animation-duration: 2s;
	  -webkit-animation-iteration-count: infinite;
	  animation-name: opacity;
	  animation-duration: 2s;
	  animation-iteration-count: infinite;
  }
  .content__container__text {
	display: inline;
	float: left;
	margin: 0;
  }
  .content__container__list {
	margin-top: 0;
	padding-left: 110px;
	text-align: left;
	list-style: none;
	-webkit-animation-name: change;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	animation-name: change;
	animation-duration: 10s;
	animation-iteration-count: infinite;
  }
  .content__container__list__item {
	line-height: 40px;
	margin: 0;
  }
  
  @-webkit-keyframes opacity {
	0%, 100% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
  }
  @-webkit-keyframes change {
	0%, 12.66%, 100% {
	  transform: translate3d(0, 0, 0);
	}
	16.66%, 29.32% {
	  transform: translate3d(0, -25%, 0);
	}
	33.32%, 45.98% {
	  transform: translate3d(0, -50%, 0);
	}
	49.98%, 62.64% {
	  transform: translate3d(0, -75%, 0);
	}
	66.64%, 79.3% {
	  transform: translate3d(0, -50%, 0);
	}
	83.3%, 95.96% {
	  transform: translate3d(0, -25%, 0);
	}
  }
  @keyframes opacity {
	0%, 100% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
  }
  @keyframes change {
	0%, 12.66%, 100% {
	  transform: translate3d(0, 0, 0);
	}
	16.66%, 29.32% {
		transform: translate3d(0, -25%, 0);
	  }
	  33.32%, 45.98% {
		transform: translate3d(0, -50%, 0);
	  }
	  49.98%, 62.64% {
		transform: translate3d(0, -75%, 0);
	  }
	  66.64%, 79.3% {
		transform: translate3d(0, -50%, 0);
	  }
	  83.3%, 95.96% {
		transform: translate3d(0, -25%, 0);
	  }
	}

.lists{
	background-color: #1c1d25;
	height: 100vh;
	color: white;
	font-size: 40px;
	background-image: linear-gradient(to right top, #b9ebd7, #8fdad4, #67c7d6, #4bb2d8, #4c9ad5, #3c92ce, #288bc8, #0083c1, #0089b2, #008b97, #008a78, #3e875a);
}

nav{
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

.list{
	display: flex;
	list-style-type: none;
	width: 500px;
	justify-content: space-around;
	font-size: 25px;
	font-family: 'JetBrains Mono', monospace;
}

li{
	text-decoration: none;
}
h1{
	font-size: 80px;
	margin: 0;
	font-family: 'JetBrains Mono', monospace;
}
.list-text{
	padding: 10px;
	margin-left: 80px ;
	margin-bottom: 200px;
}

.list-area{
	display: flex;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}

.desc{
	font-size: 30px;
	font-weight: 100;
	margin-bottom: 30px;
	font-family: 'JetBrains Mono', monospace;
}

body{
	font-family: 'JetBrains Mono', monospace;
}

.button{
	width: 200px;
	height: 55px;
	border-radius: 30px;
	background-color: #003151;
	font-size: 35px;
	text-align: center;
	font-family: 'JetBrains Mono ', monospace;
	font-weight: 100;
	padding-top: 5px;
	margin-top: 20px;
	transition: transform 250ms;
}

.button:hover{
	background-color: #3c6478;
	transform: translateY(-10px);

}
.button:active{
	background-color: lightblue;
	color: lightblue;
}

.socials{
	display: grid;
	padding-bottom: 200px;
}

.logo{
	height: 80px;
	margin: 25px;
}

.social{
	margin: 15px;
	fill: #ecf0f1;
	justify-content: center;
	transition: transform 250ms;
}

.social:before {
	box-shadow: 0 0 15px #ffee10;
	justify-content: center;
}

.social:hover{
	color: #ffee10;
	box-shadow: 0 0 5px #ffee10;
	text-shadow: 0 0 5px #ffee10;
	transform: translateY(-10px);
	justify-content: center;
}
.social:hover::before {
	transform: scale(1.1);
	box-shadow: 0 0 15px #ffee10;
	justify-content: center;
}

.sub-section{
	display: flex;
	justify-content: left;
	padding: 100px;
}

.headshot{
	width: 300px;
	height: 300px;
	justify-content: center;
	border-radius: 30px;
}

.information{
	padding-left: 30px;
}

