section{
	height: 500px;
	background-color: #3A3B3C;
	border: solid white 1px;
}

.greetings{
	height: 100px;
	background-color: #818181;
	border-radius: 25px;
	text-align: center;
	
}

.about{
	background-color: #212121;
	height: 100vh;
}


footer{
	height: 500px;
	background-color: grey;
}